/* TabPane styling*/

.jfx-tab-pane .tab{
    -fx-background-color: #f3f3f3;
    -fx-pref-width: 320;
    -fx-pref-height: 60;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #f3f3f3;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #FF4081;
    -fx-stroke-width: 5pt;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #424242;
    -fx-font-size: 16;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #FF4081;
    /*-fx-font-style: Bold;*/
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -jfx-rippler-fill: #FF4081;
    /*-jfx-rippler-fill: #bb89f3;*/
}

/*for table designing*/

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
}
.table-cell {
    -fx-padding: 3 3 3 3;
    -fx-background-color: white;
    -fx-font-size: 14px;
    /*-fx-font-family: "NanumGothic";*/
    /*-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;*/
    /*-fx-text-fill: #d8d8d8;*/
    -fx-alignment: center-left;
}
.table-cell:selected {
    -fx-background-color: lightblue;
}
.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-border-color: white;
}
.table-row-cell{
    -fx-cell-size: 50px;
    /*-fx-border-color: #E0E0E0;*/
    /*-fx-border-width: 0.7 0 0 0;*/
}
.table-view .column-header .label {
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
}


/* for bar chart designing */

.chart-bar{
    -fx-padding: 5px;
    -fx-category-gap: 20px;
    -fx-bar-gap: 0;
    -fx-legend-visible: false;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 1 , 2 )
    /*-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;*/
}

.default-color0.chart-bar { -fx-bar-fill: #3c99d6; }
.default-color1.chart-bar { -fx-bar-fill: #ff4081; }
.default-color2.chart-bar { -fx-bar-fill: #1ed760; }


/* for line chart designing */

.chart {
    -fx-padding: 5px;
    -fx-legend-visible: false;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
}

/*.chart-content {*/
/*    -fx-padding: 30px;*/
/*}*/

/*.chart-legend {*/
/*    -fx-background-color:  transparent;*/
/*    -fx-padding: 0px;*/
/*}*/

/*.chart-legend-item-symbol{*/
/*    -fx-background-radius: 0;*/
/*}*/

/*.chart-legend-item{*/
/*    -fx-text-fill: #191970;*/
/*}*/

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 1 , 5 )
}

.chart-line-symbol {
    /*-fx-background-color: #f9d900, white;*/
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.axis {
    /*-fx-font-size: 12px;*/
    -fx-tick-label-font-size: 11px;
    -fx-tick-label-gap: 10;
    -fx-tick-label-fill: #000000;
    -fx-font-family: Tahoma;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;
}

.default-color0.chart-series-line { -fx-stroke: #3c99d6; }
.default-color1.chart-series-line { -fx-stroke: #ff4081; }
.default-color2.chart-series-line { -fx-stroke: #1ed760; }



