/* TabPane styling*/

.jfx-tab-pane .tab{
    -fx-background-color: #f3f3f3;
    -fx-pref-width: 320;
    -fx-pref-height: 60;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #f3f3f3;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #FF4081;
    -fx-stroke-width: 5pt;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #424242;
    -fx-font-size: 16;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #FF4081;
    /*-fx-font-style: Bold;*/
}

.jfx-tab-pane .tab-header-area .jfx-rippler
{
    -jfx-rippler-fill: #FF4081;
    /*-jfx-rippler-fill: #bb89f3;*/
}

/*for table designing*/

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
}
.table-cell {
    -fx-padding: 3 3 3 3;
    -fx-background-color: white;
    -fx-font-size: 14px;
    /*-fx-font-family: "NanumGothic";*/
    /*-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;*/
    /*-fx-text-fill: #d8d8d8;*/
    -fx-alignment: center-left;
}
.table-cell:selected {
    -fx-background-color: lightblue;
}
.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-border-color: white;
}
.table-row-cell{
    -fx-cell-size: 50px;
    /*-fx-border-color: #E0E0E0;*/
    /*-fx-border-width: 0.7 0 0 0;*/
}
.table-view .column-header .label {
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #000000;
    -fx-alignment: center-left;
}

